* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?fm=jpg&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGFydHklMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&ixlib=rb-4.1.0&q=60&w=3000");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
}

/* Recuadro del login */
.container-login {
  width: 320px;
  height: 420px;
  background: rgba(255, 255, 255, 0.301);
  backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.301);
  border-radius: 16px;
  padding: 30px;
  margin-right: 80px; /* separación del borde derecho */
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.301);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.container-login-h1 h1 {
  font-size: 28px;
  margin-bottom: 25px;
  text-align: center;
  text-shadow: 0 2px 10px rgb(0, 0, 0);
}

.container-login-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-login-input label {
  font-size: 14px;
  color: #fff;
}

.container-login-input input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.301);
  color: #333;
  transition: 0.3s;
}

.container-login-input input:focus {
  box-shadow: 0 0 10px cyan;
  background-color: #fff;
}

/* Link */
.container-login-a {
  margin-top: 10px;
  text-align: right;
}

.container-login-a a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  transition: color 0.3s;
}

.container-login-a a:hover {
  color: cyan;
}

/* Botón */
button {
  background-color: rgb(6, 137, 245);
  border: none;
  color: #fff;
  padding: 10px 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: rgb(220, 3, 248);
  transform: scale(1.05);
  box-shadow: 0 0 10px cyan;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    justify-content: center;
  }

  .container-login {
    margin-right: 0;
    width: 90%;
  }
}
