*{
    padding: 0px;
    margin: 0px;
}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(100deg,blue,purple);
}
.layout_main{
    min-height: 500px;
    min-width: 400px;
    background: white;
    border: 1px solid black;
    border-radius: 30px;
}
.layout_main h1{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid black;
    font-size: 50px;
}
.main_formulario{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}
.main_formulario label{
    font-size: 25px;
    font-weight: bold;
}
.main_formulario input{
    width: 70%;
    padding: 10px;
    margin-top: 10px;
}
.main_link{
    padding: 10px;
    margin: 20px;
    border: 2px;
}
.main_link a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
