@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-fade";

:root {
  --brand-yellow: #ffc800;
}

/* html,
body {
  margin: 0;
  padding: 0;
  background-color: #0b0b2b !important;
  min-height: 100%;
  overflow-x: hidden;
  color: white;
  font-family: var(--font-roboto), serif;
}

.h-font {
  font-family: var(--font-montserrat), sans-serif;
}

#__next,
main,
div {
  background-color: transparent !important;
} */
